#navbar{
    background-color: #ddd8d8;
    height: 40px;
    width: 98vw;
    border-radius: 50px;
    margin:5px 5px 5px 5px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    z-index: 1;
   
}
#Oterea{
    width: 100px;
    position: fixed;
    left: 30px;
    top:10px;
    border-radius: 20px;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}
nav a:hover{
    color: rgb(58, 42, 205);
}
#home :hover{
    font-size: 25px;
}
#About:hover{
    font-size: 25px;
}
#Course:hover{
    font-size: 25px;
}
#Feedback:hover{
    font-size: 25px;
}
nav ul li{
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin-right: 50px;
}
.spanbar{
   padding: 5px;
   float: right;
}
.spanbar button{
    position: fixed;
    top : 12px;
    right: 30px;
   border-radius: 15px;
   font-size: 18px;
   background-color: rgb(110, 218, 52);
   color: rgb(0, 0, 0);
}
button:hover{
    background-color: rgb(58, 202, 187);
    box-shadow: 4px 4px 10px black;
}
.hero{
    margin-top: 55px;
    background-image: url(/img/Rectangle\ 31.jpg);
    width: 98vw;
    height: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#text{
    font-family: Arial, Helvetica, sans-serif;
}
#search{
    display: flex;
    background-color: rgb(74, 125, 141);
    border-radius: 50px;
}
#s2{
    border-radius: 50px;
    border: 2px solid black;
}
#s1{
   font-size: 20px;
   width: 10px;
   /* padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 10px; */
   margin-right: 0px;
   margin-left: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   padding-right: 0px;
   color: white;
}
#search:hover{
    font-size: 30px;
}
#hash{
    margin-top: 10px;
}
#hash span{
    padding : 10px;
    color: rgb(36, 22, 22);
}

#latest{
    background-image: url(/img/Rectangle\ 31.jpg);
    margin-top: 10px;
    width: 98vw;
    height: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
#latest h2{
    text-align: center;
}
#latest img{
    border: 0px solid black;
    border-radius: 20px;
    margin: 10px;
    width: 60%;
    height: 90%;
    padding: 10px;
}
#latest img:hover{
    width: 62%;
    height: 92%;
}
#w1{
    float: left;
    font-size: 20px;
    color: rgb(129, 101, 101);
}
#w2{
    float: right;
    font-size: 20px;
    margin-right: 20px;
    color: rgb(129, 101, 101);
}
#t1{
   display: flex;
   justify-content: left;
   font-size: 30px;
}
#w3{
    position: relative;
    bottom: 10px;
    float: right;
    font-size: 25px;
    margin-right: 20px;
}
#read1:hover{
    font-size: 28px;
}
.web{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    padding: 10px;
}
.more1{
    margin-top: 20px;
    width: 400px;
    height: 510px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border: opx snow white;
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgb(134, 108, 108);
    border: 0.4px solid black;
    text-align: center;
    font-size: 10px;
}
.more1:hover{
    box-shadow: 10px 10px 20px rgb(142, 34, 34);
}
#img10{
    border-radius: 10px;
    width: 450px;
    height: 250px;
    margin: 0;
}
.psp{
    padding: 10px;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
}
.w4{
    float: right;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

footer {
    display: flex;
    align-items: center;
    margin: 30px;
    height: 500px;
    justify-content: center;
    border-radius: 30px;
    background: linear-gradient(136deg, rgb(215, 185, 185) 0%, rgba(255, 255, 255, 1)100%);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
}
.footer-text-1{
    color: #000;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}
.footer-text-2{
    color: #000;
    font-size: 57px;
    font-weight: 900;
    text-align: center;
}
.footer-text-3{
    color: #000;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
}
.footer-btn{
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 200;
    border-radius: 25.5px;
    background: linear-gradient(122deg, #2C56AA 0%, #3BB08B 100%);
    box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 1);
    border: none;
    padding: 5px 20px;
    margin-top: 70px;
}
.footer-btn:hover{
    font-size: 25px;
    background-color:linear-gradient(122deg, #071126 0%, #204d3f 100%);
}